{% extends 'base.html' %}

{% block content %}

<h2 class="heading">Home</h2>

<div class="container">
    <form method="get" action="{% url 'home' %}" class="sub-container">
        <label for="author_name">Author Name:</label>
        <input type="text" id="author_name" name="author_name">
        <button type="submit">Filter</button>
    </form>
</div>
<div class="container">
    {% for book in books %}
    <ul>Title : <a href="{% url 'book_detail' id=book.id %}">{{ book.title }}</a></ul>
    <ul>Author : {{ book.author }}</ul>
    <ul>Price : Rs {{ book.price }} /-</ul>
    {% empty %}
        <ul>No Books Available</ul>
    {% endfor %}
</div>

{% endblock %}